{% extends 'index.html' %}

{% block login %}
    <div class="large-offset-3 large-6 columns">
        <h3>Thank you for your email confirmation. Now you can login your account!</h3>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
                <label for="username">User Name:</label>
                <input type="text" name="username" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="button" type="submit" value="Enter">
            <div class="label round secondary"><a href="{% url 'signup' %}">Registration</a></div>
        </form>
    </div>
{% endblock %}